
/* laconico.css */

th {
  text-align: left;
}

#article-monsters .section-index p.entry strong {
  font-size: 140%;
  margin-right: 0.21em;
}
#article-monsters .section-index p.entry a {
  margin-right: 0.21em;
}

.monster p.entry  {
  display: flex;
}
.monster p.entry > strong {
  min-width: 29%;
  display: inline-block;
  margin-right: 0.35em;
}
.monster p.entry > .post-key {
  display: inline-block;
}
.monster table.abilities {
  padding: 0.14em;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
#article-monsters h1 {
  cursor: pointer;
}

#article-legal-information h1 {
  font-size: 16pt;
}
#article-legal-information h3 {
  font-size: 14pt;
}
#article-legal-information p {
  margin: 0;
  font-size: 12pt;
  line-height: 1.4rem;
}

